body{
    background-color: rgb(255,255,255);
    background-color: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(112,112,112,1) 79%, rgba(0,0,0,1) 100%);
}

nav{
    background-color: none !important;
    animation-duration: 2.5s;
    animation-name: drift;

}

.material-icons{
    font-family: 'Lora', serif !important;
    align: left; 

}

.card{
    height: 100%;
}


h2{
    text-align: center;
    color: white;
    animation-duration: 1.5s;
    animation-name: drift;
    position: relative;
}

@keyframes drift {
    from{
        top: -200px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}
