body{
    background: rgb(179, 185, 204);
    background: radial-gradient(circle, rgba(179, 185, 204, 1) 0%, rgba(72, 103, 125, 1) 59%, rgba(24, 36, 74, 1) 100%);
}

nav{
    animation-duration: 2.5s;
    animation-name: drift;
    background-color: transparent !important;
    -webkit-box-shadow: none !important;

}

.material-icons{
    font-family: 'Lora', serif !important;
    align: left; 

}

#row{
    height: 300px;
}

.fas,
.far{
    float:right;
    margin: 10px;
}

.btn {
  float: right !important;
  margin: 10px;
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  color:white;
}

h2{
    text-align: center;
    color: white;
    animation-duration: 1.5s;
    animation-name: drift;
    position: relative;
}

@keyframes drift {
    from{
        top: -200px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}


.img, p{
    float:left; 
    margin:20px;
}

h5{
    text-align: center;
}

.btn{
    align-content: center;
}